In [177]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import datetime

%matplotlib inline

In [178]:
# Load .env environment variables
load_dotenv()

True

In [179]:
# Set Realtor API key 
api_key = os.getenv("RAPID_API_KEY")

In [180]:
url = "https://realtor.p.rapidapi.com/properties/v2/list-sold"

querystring = {"state_code":"CA","prop_type":"single_family,multi_family,condo","sort":"sold_date","offset":"0"}

headers = {
    'x-rapidapi-key': api_key,
    'x-rapidapi-host': "realtor.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [181]:
limit = 200
ret = []
for x in range(50):
    querystring = {"state_code":"CA","prop_type":"single_family,multi_family,condo","sort":"sold_date","offset":x*limit}
    response = requests.request("GET", url, headers=headers, params=querystring)
    real_estate_data = response.json()
    re_df = real_estate_data['properties']
    ret.append(re_df)

In [185]:
ret[9]
ret2 = []
for x in ret:
    ret2 = ret2 + x

In [203]:
len(ret2)
real_estate_df = pd.json_normalize(ret2)[['prop_type', 'list_date','last_update', 'prop_status', 'year_built', 'address.city', 'address.county','address.postal_code','address.lat','address.lon','price', 'baths_full', 'baths_half', 'beds', 'building_size.size']]
# real_estate_df.to_csv('sold_data.csv')
real_estate_df

,prop_type,list_date,last_update,prop_status,year_built,address.city,address.county,address.postal_code,address.lat,address.lon,price,baths_full,baths_half,beds,building_size.size
0,single_family,2021-01-07T00:54:03Z,2021-02-16T13:08:05Z,not_for_sale,1988.0,Novato,Marin,94945,38.120453,-122.521232,1417000,2.0,1.0,4.0,3561.0
1,condo,2020-12-31T03:24:50Z,2021-02-16T10:33:02Z,not_for_sale,1968.0,Long Beach,Los Angeles,90814,33.768341,-118.144883,545000,2.0,NaN,2.0,1115.0
2,single_family,2021-01-20T02:45:45Z,2021-02-16T10:53:58Z,not_for_sale,1953.0,Orange,Orange,92866,33.794516,-117.845798,1215000,3.0,NaN,3.0,1862.0
3,single_family,2020-04-03T23:21:35Z,2021-02-16T10:42:26Z,not_for_sale,1992.0,Los Gatos,Santa Cruz,95033,37.115316,-121.965266,750000,1.0,NaN,2.0,1428.0
4,single_family,2020-06-16T18:48:38Z,2021-02-16T10:43:17Z,not_for_sale,1965.0,Palm Springs,Riverside,92262,33.842382,-116.555988,2150000,4.0,NaN,3.0,3057.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,single_family,2020-11-10T05:24:28Z,2021-02-11T12:52:45Z,not_for_sale,1983.0,Palmdale,Los Angeles,93550,34.557070,-118.082708,295000,2.0,NaN,3.0,1190.0
1996,condo,2020-12-29T13:14:02Z,2021-02-11T12:17:27Z,not_for_sale,1973.0,Palos Verdes Estates,Los Angeles,90274,33.774600,-118.416456,780000,2.0,NaN,2.0,1166.0
1997,condo,2020-12-08T17:15:12Z,2021-02-13T14:08:06Z,not_for_sale,1964.0,Tustin,Orange,92780,33.734700,-117.831338,400000,2.0,NaN,2.0,997.0
1998,condo,2020-12-17T20:23:51Z,2021-02-13T22:39:59Z,not_for_sale,1978.0,Del Mar,San Diego,92014,32.948534,-117.245297,600000,2.0,NaN,2.0,1164.0
1999,single_family,2021-01-06T08:09:37Z,2021-02-11T12:01:58Z,not_for_sale,1987.0,Petaluma,Sonoma,94954,38.264038,-122.650615,775000,2.0,NaN,3.0,1348.0

In [173]:
# Convert JSON string to a dictionary
real_estate_data = response.json()

In [174]:
# Create Dataframe 
re_df = real_estate_data['properties']

real_estate_df = pd.json_normalize(re_df)[['prop_type', 'list_date','last_update', 'prop_status', 'year_built', 'address.city', 'address.county','address.postal_code','address.lat','address.lon','price']]
real_estate_df.to_csv('list_sold_data.csv')
real_estate_df

,prop_type,list_date,last_update,prop_status,year_built,address.city,address.county,address.postal_code,address.lat,address.lon,price
0,single_family,2020-09-14T18:05:55Z,2021-02-15T10:33:22Z,not_for_sale,2006.0,Stanton,Orange,90680,33.808450,-118.008038,717000
1,single_family,2021-01-14T17:09:45Z,2021-02-15T08:16:02Z,not_for_sale,1956.0,San Jose,Santa Clara,95127,37.350843,-121.817489,900000
2,single_family,2020-11-20T01:50:35Z,2021-02-15T10:19:49Z,not_for_sale,1954.0,Bloomington,San Bernardino,92316,34.048815,-117.383646,380000
3,single_family,2021-01-07T19:05:05Z,2021-02-15T15:00:01Z,not_for_sale,2016.0,Riverside,Riverside,92503,33.878945,-117.419128,795000
4,condo,2021-01-13T20:45:52Z,2021-02-15T11:22:39Z,not_for_sale,1968.0,San Bernardino,San Bernardino,92404,34.157886,-117.257761,165000
...,...,...,...,...,...,...,...,...,...,...,...
195,single_family,2020-12-29T00:35:56Z,2021-02-12T22:42:04Z,not_for_sale,1960.0,Torrance,Los Angeles,90503,33.846936,-118.364768,1190000
196,single_family,2021-01-06T22:06:24Z,2021-02-13T08:00:01Z,not_for_sale,1996.0,Modesto,Stanislaus,95358,37.595804,-121.007114,350000
197,multi_family,2020-12-04T20:50:18Z,2021-02-13T06:06:26Z,not_for_sale,1956.0,Los Angeles,Los Angeles,90066,34.009331,-118.424279,2520000
198,single_family,2020-10-06T05:27:50Z,2021-02-12T13:31:43Z,not_for_sale,1949.0,Winnetka,Los Angeles,91306,34.206220,-118.579119,720000
199,single_family,2020-12-05T17:21:02Z,2021-02-13T13:48:54Z,not_for_sale,2017.0,Davis,Yolo,95618,38.546277,-121.712736,690000